:root {
  --primaryColor: #621360;
  --secondaryColor: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--primaryColor);
  width: 100vw;
  height: 100vh;
}

h1 {
  display: flex;
  margin: 10;
  padding: 10;
  color: var(--secondaryColor);
}

button {
  color: var(--primaryColor);
  padding: 0 0.2em 0 0.2em;
  border: var(--primaryColor) solid 0.2em;
  background-color: var(--secondaryColor);

  font-size: 100%;
}

.question-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  background-color: var(--secondaryColor);
  padding: 2vw;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
  margin-top: 20px;
}

.hide {
  display: none;
}

/* .display {
  border: thick double;
  border-width: 5px;
  border-color: var(--primaryColor);
  padding: 10;
} */

button:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

button:disabled {
  opacity: 0.5;
}

@media (max-width: 900px) {
  * {
    font-size: 3vw;
  }
  button {
    font-size: 200%;
  }
  .buttons {
    gap: 10px;
  }
}

@media (max-width: 450px) {
  * {
    font-size: 5vw;
  }
  button {
    font-size: 150%;
  }
  .buttons {
    gap: 5px;
  }
}
